<div class="container">
  <h1><%= @booking.user.first_name %>'s coaching session</h1>
  <% if policy(@booking).edit? %>
    <h4>Student's info, goals and feedback requests for this coaching session</h4>
  <% else %>
    <h4>My info, goals and feedback requests for this coaching session</h4>
  <% end %>
  <div class="text-box">
    <p><%= @booking.description %></p>
  </div>
  <h4>Uploaded video for analysis</h4>
  <%= cl_video_tag (@booking.video.file.public_id), size:"700x400", controls:true, autoplay: true %>
  <h4>Coaching feedback from <%= @booking.lesson.user.first_name %> <%= @booking.lesson.user.last_name %></h4>
  <div class="text-box">
    <% if @booking.feedback.nil? %>
      <p><em>Awaiting feedback from <%= @booking.lesson.user.first_name %></em></p>
    <% else %>
      <p><%= @booking.feedback %></p>
      <%= link_to new_lesson_review_path(@booking.lesson) do %>
        <div class="btn btn-primary">Leave a review</div>
      <% end %>
    <% end %>
  </div>
  <% if policy(@booking).edit? %>
    <%= link_to edit_booking_path(@booking) do %>
      <div class="btn btn-primary">Add Feedback</div>
    <% end %>
  <% end %>
</div>
