<div class="container">
  <h1><%= @booking.user.email %>'s coaching session</h1>
  <h4>Swimmer's info, goals and requests for this coaching session</h4>
  <p><%= @booking.description %></p>
  <%= cl_video_tag (@booking.video.file.public_id), size:"600x800", controls:true, autoplay: true %>
  <h4>Coaching feedback from <%= @booking.lesson.user.email %></h4>
  <% if @booking.feedback.nil? %>
    <p>Awaiting feedback from <%= @booking.lesson.user.email %></p>
  <% else %>
    <p><%= @booking.feedback %></p>
  <% end %>
  <% if policy(@booking).edit? %>
    <%= link_to edit_booking_path(@booking) do %>
      <div class="btn btn-primary">Add Feedback</div>
    <% end %>
  <% end %>
</div>
