<div class="container">
  <%= simple_form_for [@user] do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :photo, class: "form-control" %>
    <%= f.submit "Update Profile", class: "btn btn-primary"%>
  <% end %>
</div>
