<div class="container">
  <% if policy(@user).show? %>
    <div class="profile-header">
      <% if @user.photo == nil %>
        <%= cl_image_tag("profile_default", class: 'avatar-small') %>
      <% else %>
        <%= cl_image_tag(@user.photo, class: 'avatar-small') %>
      <% end %>
      <h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
    </div>

    <% if current_user == @user %>
      <div class="row">
        <div class="col-xs-12 col-lg-6">
          <%= render 'shared/coach_messages' %>
        </div>
        <div class="col-xs-12 col-lg-6">
          <%= render 'shared/swimmer_messages' %>
        </div>
      </div>
    <% else %>
      <h1>You do not have access to their bookings</h1>
    <% end %>
  <% end %>
</div>
