<div class="container">
  <% if policy(@user).show? %>
  <div class="profile-header">
    <% if @user.photo == nil %>
      <%= cl_image_tag("profile_default", class: 'avatar-small') %>
    <% else %>
      <%= cl_image_tag(@user.photo, class: 'avatar-small') %>
    <% end %>
    <h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
  </div>

    <% if current_user == @user %>

      <h2>Current Bookings</h2>

      <% if @user.bookings == [] %>
        <p>You currently have no bookings!</p>
        <%= link_to lessons_path do %>
          <div class="btn btn-primary">
          Browse all coaches
          </div>
        <% end %>
      <% else %>
        <% @user.bookings.each do |booking| %>

        <%= link_to booking_path(booking.id) do %>
          <div class="booking-container">
            <img src="https://unsplash.com/photos/y0I85D5QKvs" alt="" class="avatar-small">
            <div class="booking-message">
              <h2><%= booking.lesson.user.email %></h2>
              <p> <%= booking.description %></p>
            </div>
            <div class="booking-status">
              <% if booking.feedback == nil %>
                <p>Pending</p>
              <% else %>
                Feedback ready
              <% end %>
            </div>
           </div>
          <% end %>
        <% end %>
      <% end %>

    <% else %>
      <h1>You do not have access to their bookings</h1>
    <% end %>

  <% end %>
</div>
