<div class="container">
  <% if policy(@user).show? %>
    <div class="profile-header">
      <%= cl_image_tag(@user.photo.url(:bright_face), class: 'avatar-small') %>
      <h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
      <%= link_to edit_user_path(@user) do %>
        <div class="btn btn-primary">Edit Profile</div>
      <% end %>
    </div>

    <% if current_user == @user %>
      <div class="row">
        <div class="col-xs-12 col-lg-6">
          <%= render 'shared/coach_messages' %>
        </div>
        <div class="col-xs-12 col-lg-6">
          <%= render 'shared/swimmer_messages' %>
        </div>
      </div>
    <% else %>
      <h1>You do not have access to their bookings</h1>
    <% end %>
  <% end %>
</div>
