<div class="navbar-fixed-top navbar-swim-blue">
  <%= link_to root_path do %>
    <div class="logo-block navbar-swim-link">
      <%= image_tag "logo.svg", class: "logo" %>
      <p> Coach My Swim </p>
    </div>
  <% end %>
  <div class="navbar-swim-right">
    <%= link_to "View Coaches", lessons_path, class: "navbar-swim-link" %>
    <% if user_signed_in? %>
      <div class="navbar-swim-item">
        <div class="dropdown">
           <%= cl_image_tag current_user.photo.url(:bright_face), class: "avatar dropdown-toggle", id: "navbar-wagon-menu", data: { toggle: "dropdown" } %>
          <ul class="dropdown-menu dropdown-menu-right navbar-swim-dropdown-menu">
            <% if !current_user.coach %>
              <li><%= link_to "Dashboard", user_path(current_user), class: "navbar-swim-link navbar-swim-item" %></li>
              <li><%= link_to "Become a Coach", new_lesson_path, class: "navbar-swim-link navbar-swim-item" %></li>
              <li> <%= link_to "Log-out", destroy_user_session_path, method: :delete, class: "navbar-swim-link navbar-swim-item"%></li>
            <% else %>
              <li><%= link_to "Dashboard", user_path(current_user), class: "navbar-swim-link navbar-swim-item" %></li>
              <li> <%= link_to "Log-out", destroy_user_session_path, method: :delete, class: "navbar-swim-link navbar-swim-item"%></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% else %>
      <%= link_to "Become a Coach", new_user_registration_path, class: "navbar-swim-link navbar-swim-item" %>
      <%= link_to "Sign-up", new_user_registration_path, class: "navbar-swim-link navbar-swim-item" %>
      <%= link_to "Log-in", new_user_session_path, class: "navbar-swim-link navbar-swim-item" %>
    <% end %>
  </div>
</div>
