<h2>Coaches You Have Booked</h2>
<% if @user.bookings == [] %>
  <p>You currently have no bookings!</p>
  <%= link_to lessons_path do %>
    <div class="btn btn-primary">
    Browse All Coaches
    </div>
  <% end %>
<% else %>
  <% @user.bookings.each do |booking| %>
    <%= link_to booking_path(booking.id) do %>
      <div class="booking-container">
        <%= cl_image_tag(booking.lesson.user.photo, class: 'avatar-small') %>
        <div class="booking-message">
          <h4><%= booking.lesson.user.first_name %></h4>
          <p>Your request:</p>
          <p class="booking-description"><%= booking.description.truncate(30, separator: /\s/) %></p>
        </div>
        <div class="booking-status">
          <% if booking.feedback == nil %>
            <p>Pending</p>
          <% else %>
            <p>Feedback Ready</p>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
   <%= link_to lessons_path do %>
    <div class="btn btn-primary">
    Browse All Coaches
    </div>
  <% end %>
<% end %>
