<h2>Coaches you have booked</h2>
<% if @user.bookings == [] %>
  <p>You currently have no bookings!</p>
  <%= link_to lessons_path do %>
    <div class="btn btn-primary">
    Browse all coaches
    </div>
  <% end %>
<% else %>
  <% @user.bookings.each do |booking| %>
    <%= link_to booking_path(booking.id) do %>
      <div class="booking-container">
        <%= cl_image_tag(booking.lesson.user.photo, class: 'avatar-small') %>
        <div class="booking-message">
          <h2><%= booking.lesson.user.first_name %></h2>
          <p>Your request:</p>
          <p> <%= booking.description %></p>
        </div>
        <div class="booking-status">
          <% if booking.feedback == nil %>
            <p>Pending</p>
          <% else %>
            <p>Feedback ready</p>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
