<div class="banner">
  <div class="banner-content"">
    <h1>Coach My Swim</h1>
    <h2>Remote Swim Technique Coaching</h2>
    <%# link_to middle_path do  %>
      <h3 class="btn btn-success"><%= link_to "Browse Coaches", lessons_path %></h3>
    <%# end %>
  </div>
</div>
<div class="green-wrapper">
  <div class="container">
    <div class="row">
      <h3 class="text-center">How it works</h3>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="home-card">
          <div class="avatar-large" style="background-image: url('/assets/geoff.jpeg');">
          </div>
          <div class="home-card-title">
            <h4>FIND</h4>
          </div>
          <div class="home-card-description">
            <p>Placeholder text about how awesome our product is...</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="home-card">
          <div class="avatar-large" style="background-image: url('/assets/geoff.jpeg');">
          </div>
          <div class="home-card-title">
            <h4>HIRE</h4>
          </div>
          <div class="home-card-description">
            <p>Placeholder text about how awesome our product is...</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="home-card">
          <div class="avatar-large" style="background-image: url('/assets/geoff.jpeg');">
          </div>
          <div class="home-card-title">
            <h4>GET COACHED</h4>
          </div>
          <div class="home-card-description">
            <p>Placeholder text about how awesome our product is...</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="home-card">
          <div class="avatar-large" style="background-image: url('/assets/geoff.jpeg');">
          </div>
          <div class="home-card-title">
            <h4>IMPROVE</h4>
          </div>
          <div class="home-card-description">
            <p>Placeholder text about how awesome our product is...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="light-green-wrapper">
  <div class="container">
    <h3 class="text-center">Some of our top coaches</h3>
    <div class="row">
      <% @lessons.each do |lesson| %>
        <%= link_to lesson_path(lesson) do  %>
          <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="card list-inline">
              <div class="card-user-img" style="background-image: url(<%= cl_image_path lesson.user.photo %>) ;">
                <div class="card-user-name"><h2><%= lesson.user.first_name %> <%= lesson.user.last_name %></h2>
                </div>
                <div class="card-user-description">
                  <p><%= lesson.speciality %> | <%= lesson.ability %> | <%= lesson.price %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
