<div class="banner">
  <div class="banner-content"">
    <h1>Coach My Swim</h1>
    <h2>Remote Swim Technique Coaching</h2>
      <h3 class="btn btn-success btn-lg"><%= link_to "Browse Coaches", lessons_path %></h3>
    <div class="bottom">
      <a href="#How it works"><i class="fas fa-angle-double-down"></i></a>
    </div>
  </div>
</div>
<a name="How it works">
<div class="wrapper">
  <div class="container">
    <div class="row">
      <h3 class="text-center">How it works</h3>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="home-card">
          <div class="avatar-large" style="background-image: url('https://images.unsplash.com/photo-1414085496041-6d10400b671f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6e6008e85b0c8947cdc3967f29356ab9&auto=format&fit=crop&w=967&q=80');">
          </div>
          <div class="home-card-title">
            <h4>Find</h4>
          </div>
          <div class="home-card-description">
            <p>Find top-quality coaches from all over the world that have the expertise you need.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="home-card">
          <div class="avatar-large" style="background-image: url('https://images.unsplash.com/photo-1461567797193-e5b489ac026a?ixlib=rb-0.3.5&s=cd2f98e0b7f9778fc9704fcb66c11b20&auto=format&fit=crop&w=1189&q=80');">
          </div>
          <div class="home-card-title">
            <h4>Hire</h4>
          </div>
          <div class="home-card-description">
            <p>Book a coaching session in one click. Simply upload a video of yourself and hit send.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="home-card">
          <div class="avatar-large" style="background-image: url('https://images.unsplash.com/photo-1510278403173-f32fcab3da13?ixlib=rb-0.3.5&s=8f88d1e2a81eff0de757e38a399fa221&auto=format&fit=crop&w=634&q=80');">
          </div>
          <div class="home-card-title">
            <h4>Get coached</h4>
          </div>
          <div class="home-card-description">
            <p>Get easy to understand feedback and advice on your current form within 48 hours.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="home-card">
          <div class="avatar-large" style="background-image: url('https://images.unsplash.com/photo-1461567933755-6c82be2197da?ixlib=rb-0.3.5&s=0033af3a19a55605253c44873a3f17a7&auto=format&fit=crop&w=1189&q=80');">
          </div>
          <div class="home-card-title">
            <h4>Improve</h4>
          </div>
          <div class="home-card-description">
            <p>Hone your skills over time. Once you're a pro you can sign up to become a Coach.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="lightest-green-wrapper">
  <div class="container">
    <h3 class="text-center title-padded">Some of our top coaches</h3>
    <div class="row">
      <% @lessons.each do |lesson| %>
        <%= link_to lesson_path(lesson) do  %>
          <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="card list-inline">
              <div class="card-user-img" style="background-image: url('<%= cl_image_path lesson.user.photo %>') ;">
                <div class="card-user-name"><h2><%= lesson.user.first_name %> <%= lesson.user.last_name %></h2>
                </div>
                <div class="card-user-description">
                  <p><%= lesson.speciality %> | <%= lesson.ability %> | <%= lesson.price %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
